.footer{
    height: 80px;
    text-align: start;
    background:linear-gradient( to right, rgb(29,55,68),rgb(29,82,113));
    margin:auto;
}
.a-nav{
    padding-top: 10px;
    color:white;
    text-decoration: none;
    background-position: center ;
    margin:auto;
}